<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>SIGO</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="css/demo.css" type="text/css" media="screen" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,600,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="dashboard-bg">
  
  
  <!--header started-->
  <header id="dashboard-header">
  	<div class="top-header">
    	<div class="container">
        <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
        	<ul>
            	<li><a href="">Help</a></li>                  
                <li><a href="">Account</a></li>
                <li><a href="">Cashier</a></li>
            </ul>
        </div>
        </div>
        </div>
    </div>
    <div class="main-header">
    	<div class="container">
        <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
            <div class="logo-wraper">
            	<a href="#"> <img src="images/logo.png"></a>
            </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
            <div class="dashboard-nav">
            	<ul>
            	<li><a href=""><i class="fa fa-twitter"></i> Twitter</a></li>                  
                <li><a href=""><i class="fa fa-television"></i> Streams</a></li>
                <li><a href=""><i class="fa fa-plane"></i> Followed</a></li>
                <li><a href=""><i class="fa fa-users"></i> Online</a></li>                  
                <li><a href=""><i class="fa fa-envelope"></i> Messges</a></li>
                <li><a href=""><i class="fa fa-money"></i> Balances</a></li>
                <li><a href=""><i class="fa fa-user"></i> Logout</a></li>
            </ul>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 text-right">
            <div class="logout-wraper">
            	<p>Welcome</p>
                <p><strong>Leonardo Dicaprio</strong></p>
            </div>
        </div>
        </div>
        </div>
    </div>
  </header>
  <!--header ends-->
  
  <!--dashboard home page started-->
  <section id="dashboard-home">
  <div class="container">
  	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="background:#000">
    	<div class="dashboard-left">
        <ul class="listing-wraper row"> 
        <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="match-heading">my matches</div>
            <div class="product-button"><a href="#"> create challenge   </a>  </div>
        </li>
        <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="match-heading">find a match</div>
            <div class="product-button"><a href="#"> create challenge </a>  </div>
        </li>
        <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="match-heading">OPEN CHALLENGES</div>
            <div class="product-button"><a href="#">  create challenge  </a>  </div>
        </li>
        <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="match-heading">MY TOURNAMENTS</div>
            <div class="product-button"><a href="#">  create challenge  </a>  </div>
        </li>
        
        
        
        </ul>
        </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
    	<div class="locker-wrapper">
        	<div class="locker-heading">The Locker Room</div>
            <div class="chat-box">
            	<ul>
                	<li class="row">
                    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        	<img src="images/chat1.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-10 col-xs-8">
                        	<h4>will Smith <span>(challenge)</span></h4>
                            <p>He not going to cancel he flaw</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        	<div class="date-box">
                            	<p>10:51</p>
                                <p>10/26/2015</p>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        	<img src="images/chat1.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-10 col-xs-8">
                        	<h4>will Smith <span>(challenge)</span></h4>
                            <p>He not going to cancel he flaw</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        	<div class="date-box">
                            	<p>10:51</p>
                                <p>10/26/2015</p>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        	<img src="images/chat1.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-10 col-xs-8">
                        	<h4>will Smith <span>(challenge)</span></h4>
                            <p>He not going to cancel he flaw</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        	<div class="date-box">
                            	<p>10:51</p>
                                <p>10/26/2015</p>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        	<img src="images/chat1.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-10 col-xs-8">
                        	<h4>will Smith <span>(challenge)</span></h4>
                            <p>He not going to cancel he flaw</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        	<div class="date-box">
                            	<p>10:51</p>
                                <p>10/26/2015</p>
                            </div>
                        </div>
                    </li>
                    <li class="row">
                    	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                        	<img src="images/chat1.jpg" alt="" class="img-thumbnail">
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-10 col-xs-8">
                        	<h4>will Smith <span>(challenge)</span></h4>
                            <p>He not going to cancel he flaw</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        	<div class="date-box">
                            	<p>10:51</p>
                                <p>10/26/2015</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                <div class="chat-form">
                	<span class="left-input"><input type="text" name="" placeholder="lock here" value=""></span>
                    <span class="left-input"><input type="submit" name="" value="lock"></span>
            	</div>
                </div>
                <div class="clearfix"></div>
            </div>
            
        </div>
    </div>
  </div>
  </section>
  <!--dashboard home page ends-->
  
  
  <!--content started-->
  
  <!--content started-->
  
  
  
  <!--foooter started-->
  <div class="footer-wraper">
  
  <!--about & news feedback-->
  <div class="container">
  
  <!--about sigod-->
  <div class="col-md-6">
  <div class="about-wraper">
  <div class="about-img"> <img src="images/footerlogo.png"></div>  
  
  <p> 2K Sports and the 2k Sports logo is a registered trademark of Take-Two Interactive Software, Inc. All rights reserved. EA Sports and the EA Sports logo are trademarks of Electronic Arts, Inc. All rights reserved. EA Sports is not affiliated with SIGOD.COM. Xbox and Xbox One are registered trademarks of Microsoft Corporation. All rights reserved. Microsoft is not affiliated with SIGOD.COM. Playstation and Playstation 4 are registered trademarks of Sony Computer Entertainment. All Rights Reserved. SONY is not affiliated with SIGOD.COM. All trademarks within this site are the property of their respective owners and are not affiliated with</p>
  
   <div class="about-logo"> <img src="images/about-logo.png"> </div>
   
   
   
   <div class="about-socail">
   <a href="#">  <i class="fa fa-facebook"></i>  </a>
   <a href="#">  <i class="fa fa-twitter"></i>  </a>   
   <a href="#">  <i class="fa fa-twitch"></i>  </a>   
   <a href="#">  <i class="fa fa-google-plus"></i>  </a>   
   <a href="#">  <i class="fa fa-youtube"></i>  </a>   
   </div>
   
   
   
  
  
  </div>
  </div>
  <!--about sigod-->
  
  <!--NEWS FEEDBACK-->
  <div class="col-md-6">
  <div class="news-wraper">
  <div class="news-heading"> NEWS FEEDBACK </div>
  
  
  <!--newsimmg & detail-->
  <div class="out-wrape">
  <div class="row">
  
  
  <!--news-img-->
  <div class="col-md-4 col-sm-3 col-xs-4">
  <div class="news-img">
  <img src="images/news-img.jpg">
  </div>
  </div>
  <!--news-img-->

  <!--news-detail-->
  <div class="col-md-8 col-sm-9 col-xs-8">
  <div class="news-detail">
  <div class="news-detail-heading">LOREM LISPUM DOLLAR SIT</div>
  <div class="postedby">POSTED BY JOHN DOE</div>
  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  <a href="#">READMORE</a></p>
  
  </div>
  </div>
  <!--news-detail-->
  
  
  </div>
  </div>
  <!--newsimmg & detail-->
  
    <!--newsimmg & detail-->
  <div class="out-wrape">
  <div class="row">
  
  
  <!--news-img-->
  <div class="col-md-4 col-sm-3 col-xs-4">
  <div class="news-img">
  <img src="images/news-img.jpg">
  </div>
  </div>
  <!--news-img-->

  <!--news-detail-->
  <div class="col-md-8 col-sm-9 col-xs-8">
  <div class="news-detail">
  <div class="news-detail-heading">LOREM LISPUM DOLLAR SIT</div>
  <div class="postedby">POSTED BY JOHN DOE</div>
  <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the  <a href="#">READMORE</a></p>
  
  </div>
  </div>
  <!--news-detail-->
  
  
  </div>
  </div>
  <!--newsimmg & detail-->
  
  
  
  
  
  
  
  </div>
  </div>
  <!--NEWS FEEDBACK-->
  
  </div>
  <!--about & news feedback-->
  
  
  <!--copyright-->
  <div class="copyright">
  2015 © sigod.com All right reserved 
  </div>
  <!--copyright-->
  
  </div>
  <!--foooter ends-->
  
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

	
	
    
  </body>
</html>